In [ ]:
!apt-get install mysql-server > /dev/null
!service mysql start
!mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'root'"
!pip -q install PyMySQL
from sqlalchemy import create_engine
import pandas as pd

 * Starting MySQL database server mysqld
No directory, logging in with HOME=/
   ...done.
     |████████████████████████████████| 43 kB 1.0 MB/s

In [ ]:
engine = create_engine("mysql+pymysql://root:root@/")
engine.execute("CREATE DATABASE car_rental") #create db
engine.execute("USE car_rental") # select new db

In [ ]:
query="""
CREATE TABLE MyGuests (
id INT(6) UNSIGNED AUTO_INCREMENT PRIMARY KEY,
firstname VARCHAR(30) NOT NULL,
lastname VARCHAR(30) NOT NULL
)
"""
query2="""
INSERT INTO MyGuests (id, firstname, lastname)
VALUES (1,'a','A'),
        (2,'b','A'),
        (3,'c','B')
"""

In [ ]:
engine.execute(query)

In [ ]:
engine.execute(query2)

In [ ]:
result = engine.execute("select * from MyGuests")
for row in result:
  print(row)

(1, 'a', 'A')
(2, 'b', 'A')
(3, 'c', 'B')

In [ ]:
pd.read_sql('SELECT * FROM MyGuests', con=engine)

   id firstname lastname
0   1         a        A
1   2         b        A
2   3         c        B