In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!ls /content/drive/MyDrive/SDA\ Data\ Science/ML-datasets-master

abalone.csv	    concrete.csv	 rating.csv
apple.csv	    diabetes.csv	 read_from.csv
austin_weather.csv  drinks.csv		 student-mat.csv
auto_mpg.csv	    eurovision-2016.csv  temperature.csv
boston.csv	    eurovision.csv	 timesData.csv
breast_cancer.csv   glass.csv		 titanic.csv
cars1.csv	    iris.csv		 US_Baby_Names_right.csv
cars2.csv	    medals.csv		 ves-usd.csv
cars.csv	    olympic.csv		 weather.csv
chipotle.tsv	    parking.csv		 whisky.csv
co2.csv		    pendigits.csv	 wine.csv
coil_2000.csv	    points.csv		 zoo.csv
communities.csv     population.csv

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
x = pd.Series([10,20,30,40])
print(x)

0    10
1    20
2    30
3    40
dtype: int64

In [ ]:
df = pd.DataFrame([[1,2],[3,4],[5,6]], columns=["a","b"])
df

   a  b
0  1  2
1  3  4
2  5  6

In [ ]:
#  Zadanie1
df = pd.DataFrame([["Jan",3],["Antonia",4],["Grzegorz",6], ["Marcelina",6], ["Piotr",1], ["Marta",2], ["Paweł",6], ["Wanda",4], ["Andrzej",1], ["Justyna",5]], columns=["Imie","Ocena"])
print (df["Ocena"].mean())
print (df["Ocena"].median())

3.8
4.0

In [ ]:
# Zadanie 2
wyniki = df = pd.DataFrame([["Jan",3],["Antonia",4],["Grzegorz",6], ["Marcelina",6], ["Piotr",1], ["Marta",2], ["Paweł",6], ["Wanda",4], ["Andrzej",1], ["Justyna",5]], columns=["Imie","Ocena"])
print ("Czwarty wiersz:")
print (wyniki[3:4])
print ("Wyniki powyżej średniej:")
# print ('wyniki']>(df["Ocena"].mean())  # nie działczy, nie wiem jak to ugryźć... :(

Czwarty wiersz:
        Imie  Ocena
3  Marcelina      6
Wyniki powyżej średniej:

In [ ]:
from IPython.display import display
import pandas as pd

In [ ]:
df1 = pd.DataFrame({
    "A": ["A0", "A1", "A2", "A3"],
    "B": ["B0", "B1", "B2", "B3"],
    "C": ["C0", "C1", "C2", "C3"],
    "D": ["D0", "D1", "D2", "D3"],
    },
    index=[0, 1, 2, 3])

df2 = pd.DataFrame({
    "A": ["A4", "A5", "A6", "A7"],
    "B": ["B4", "B5", "B6", "B7"],
    "C": ["C4", "C5", "C6", "C7"],
    "D": ["D4", "D5", "D6", "D7"],
    },
    index=[4, 5, 6, 7])

df3 = pd.DataFrame({
    "A": ["A8", "A9", "A10", "A11"],
    "B": ["B8", "B9", "B10", "B11"],
    "C": ["C8", "C9", "C10", "C11"],
    "D": ["D8", "D9", "D10", "D11"],
    },
    index=[4, 5, 6, 7])

In [ ]:
df2 + df3

       A      B      C      D
4   A4A8   B4B8   C4C8   D4D8
5   A5A9   B5B9   C5C9   D5D9
6  A6A10  B6B10  C6C10  D6D10
7  A7A11  B7B11  C7C11  D7D11

In [ ]:
left = pd.DataFrame({
    "key": ["K0", "K1", "K2", "K3"],
    "A": ["A0", "A1", "A2", "A3"],
    "B": ["B0", "B1", "B2", "B3"],
    })

right = pd.DataFrame({
    "key": ["K0", "K1", "K2", "K3"],
    "C": ["C0", "C1", "C2", "C3"],
    "D": ["D0", "D1", "D2", "D3"],
    })

In [ ]:
print('left')
display(left)
print('right')
display(right)

left

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3

right

  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt